<html>
<head>
	<title> 주소 수정</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
	<link rel="shortcut icon" href="/static/images/taplogo.png"/>
</head>

<body>
<script
  src="/static/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/semantic/dist/semantic.min.js"></script>

	<a href="/">
 	<img src="/static/images/cafeinlogo.png" height = "150px" width = "480px">
 </a>
 <br>
 <h1> 주소를 선택해주세요</h1>

	{% if resultaddress %}
		{% for address in resultaddress %}
		<form method="post" id="addressInfoform" action="{% url 'addresschoice' %}">
			{% csrf_token %}
			<input type="hidden" id="addressInfo" value={{address.0}} name="addressID">
			<div>
				<button class = "ui tiny orange basic button" onclick="passInfo();"> <font color="black">{{address.1}} </font></button>
				<br><br>
			</div>
		</form>
		{% endfor %}
	{% else %}
		<p> 검색 결과가 없습니다. </p>
	{% endif %}

<script>

	function passInfo() {
		document.getElementById("addressInfoform").submit();
	}

</script>

</body>
</html>