<html>
<head>
	<title> CafeList - Address </title>
	<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
	<link rel="shortcut icon" href="/static/images/taplogo.png"/>
</head>
</head>

<body>
<script
  src="/static/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/semantic/dist/semantic.min.js"></script>

<a href="/">
 	<img src="/static/images/cafeinlogo.png" height = "15%" width = "25%">
 </a>

	{% if resultcafe %}
		{% for cafe in resultcafe %}
		<form method="POST" id="cafeInfoform" action="{% url 'search' %}">
			{% csrf_token %}
			<input type="hidden" id="cafeInfo" value={{cafe.0}} name="cafeID">
			<div>
				<button class = "ui tiny orange basic button"onclick="passInfo();"> <font color="black">{{cafe.1}}&nbsp;&nbsp;|&nbsp;&nbsp; {{cafe.2}}</font></button>
				<br><br>
			</div>
		</form>
		{% endfor %}
	{% else %}
		<p> 검색 결과가 없습니다. </p>
	{% endif %}


<script>

	function passInfo() {
		document.getElementById("cafeInfoform").submit();
	}

</script>

</body>
</html>