<html>
<head>
	<title> Cafe In </title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
	<link rel="shortcut icon" href="/static/images/taplogo.png"/>
</head>


<body>
<script
  src="/static/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/semantic/dist/semantic.min.js"></script>
<br>

	{% if logined_user.username == "null" %}
		<p style="text-align: right;"><button class = "ui tiny orange button" onclick="login();"> 로그인 </button></p>
	{% else %}
		<div style="text-align: right;" >
			<p class="ui orange basic image label"><img src="/static/images/person.png">{{ logined_user.username }}님</p>
			<button class = "ui tiny orange basic button" onclick="mypage();"> 마이페이지 </button>
			<button class = "ui tiny orange basic button" onclick="logout();"> 로그아웃 </button>
		</div>
	{% endif %}




 <a href="/">
 	<center><img src="/static/images/cafeinlogo.png" height = "150px" width = "480px" style = "margin-top: 8%"></center>
 </a>
 <br>


<center>
<div id="searchbox">
	<form method="POST" action="" id="searchsubmit">
	
		{% csrf_token %}
		<div class="ui action input">
			<input id="search" name="_search" >
			<select id="select" class="ui compact selection dropdown" style="height:50px;">
				<option value="selectcafe"> 카페명 </option>
				<option value="selectlocation"> 장소명 </option>
			</select>
			<button type="submit" class="ui orange button" id="searchbutton" onclick="searchcafe();"> 검색 </button>
		</div>
	</form>
</div>
</center>



<script type="text/javascript">
function searchcafe() {
		if(document.getElementById("select").value == "selectcafe") {
			document.getElementById("searchsubmit").action = "/cafelist_cafe/";
			document.getElementById("searchsubmit").submit();
		}
		else if(document.getElementById("select").value == "selectlocation") {
			document.getElementById("searchsubmit").action = "/cafelist_location/";
			document.getElementById("searchsubmit").submit();
		}
	}

function login() {
		location.href = "/login";
}

function logout() {
		location.href = "/logout/"
}

function mypage() {
		location.href = "/mypage/"
}
</script>

</body>
</html>