<html>
<head>
	<title> Cafe In </title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/static/mypage.css">
	<link rel="shortcut icon" href="/static/images/taplogo.png"/>
</head>



<body>
<script
 src="/static/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/semantic/dist/semantic.min.js"></script>

	{% if logined_user.username == "null" %}
		<p style="text-align: right;"><button class = "ui tiny orange button" onclick="login();"> 로그인 </button></p>
	{% else %}
		<div style="text-align: right;" >
			<p class="ui orange basic image label"><img src="/static/images/person.png">{{ logined_user.username }}님</p>
			<button class = "ui tiny orange basic button" onclick="mypage();"> 마이페이지 </button>
			<button class = "ui tiny orange basic button" onclick="logout();"> 로그아웃 </button>
		</div>
	{% endif %}


 <a href="/">
 	<center><img src="/static/images/cafeinlogo.png" height = "17%" width = "30%"></center>
 </a>

<br>
<center>
<div id="searchbox">
	<form method="POST" action="" id="searchsubmit">
	
		{% csrf_token %}
		<div class="ui action input"><input id="search" name="_search" >
		<select id="select" class="ui compact selection dropdown">
		<option value="selectcafe"> 카페명 </option>
		<option value="selectlocation"> 장소명 </option>
	</select>
		<button type="submit" class="ui orange button" id="searchbutton" onclick="searchcafe();"> 검색 </button></div>
	</form>
</div>
</center>

<br>

<div id = "container">
	<div id="resultbox">
		<input class = "ui tiny orange basic button" type="button" id="infouser" class="infobutton" onclick="showmyInfo();" value="내 정보">
		<input class = "ui tiny orange basic button" type="button" id="infocoupon" class="infobutton" onclick="showcouponInfo();" value="쿠폰정보">
	</div>
		<div class = "ui orange divider">
	</div>
	<div id="myInfo">
			<center>
			<div class="ui list">
				<div class="item">
					<img class="ui avatar image" src="/static/images/person.png">
						<div class="content">
							<font size="2" color="black">{{logined_user.username}}
								</font>
    						</div>
    						<br><br>
  					</div>
  				<div class="item">
  					<img class="ui avatar image" src="/static/images/age.png">
						<div class="content">
							<font size="2" color="black">{{logined_user.age}}세
								</font>
    						</div>
    						<br><br>
  					</div>
  				<div class="item">
  					<img class="ui avatar image" src="/static/images/sex.png">
						<div class="content"> 
							<font size="2" color="black">{{logined_user.sex}}
								</font>
    						</div>
    						<br><br>
  					</div>
  				<div class="item">
  					<img class="ui avatar image" src="/static/images/cafeplace.png">
						<div class="content">
							<div id="address_revisable">
				<br>
				<p> {{logined_user.address}}</p>
				<input class = "ui tiny orange basic button" type="button" onclick="address_revise();" value="주소 수정하기">
			</div>
			<div style="display:none" id= "address_revising">
				<p> 주소 </p>
				<form method="post" id="address_form" name = "address_form">
					{% csrf_token %}
					<div class="ui action input"><input id="address" name="_address">
					<button class = "ui tiny orange button" type="submit" id="searchbutton" onclick="searchaddress();"> 검색 </button></div>
				</form>
			</div>
			</div>
			<br><br>
			</div>
			 	<div class="item">
  					<img class="ui avatar image" src="/static/images/heart.png">
						<div class="content">
							<div id="favorite_revisable">
				<br>
				<p> 선호음료 | {{logined_user.favorite}}</p>
				<input class = "ui tiny orange basic button" type="button" onclick="favorite_revise();" value="선호음료 수정하기">
			</div>
			<div style="display:none" id= "favorite_revising">
				<br>
				<form method="post" id="select_form" name = "select_form">
					{% csrf_token %}
					<p> 선호 음료</p>
					{% if favoritelist %}
					{% for favorite in favoritelist %}
						<input type="radio" name="choice" id="choice{{ favorite }}" value="{{ favorite }}" />
    					{{ favorite }} 
					{% endfor %}
					{% endif %}
						<br><br>
					  <input class = "ui tiny orange button"type = "submit" value = "수정완료" onclick = "complete()">
				</form> 
			</div>
			</div>
			<br><br>
			</div>
				</div>
			</center>

	<div id="couponInfo">
			{% if couponlist %}
				{% for coupon in couponlist %}
				<p>{{ coupon.cafe_name }} {{coupon.count}} / 10</p>
				{% endfor %}
			{% else %}
				<p> 쿠폰이 없네요! 모아봅시다. </p>
			{% endif %}
			<br>
	</div>
</div>



<script type="text/javascript">

	function searchcafe() {
		if(document.getElementById("select").value == "selectcafe") {
			document.getElementById("searchsubmit").action = "/cafelist_cafe/";
			document.getElementById("searchsubmit").submit();
		}
		else if(document.getElementById("select").value == "selectlocation") {
			document.getElementById("searchsubmit").action = "/cafelist_location/";
			document.getElementById("searchsubmit").submit();
		}
	}

	function searchaddress() {
			document.getElementById("address_form").action = "/addresslist/";
			document.getElementById("address_form").submit();
		}

function favorite_revise() {
	document.getElementById("favorite_revising").style.display = "inline-block";
	document.getElementById("favorite_revisable").style.display = "none";
}
function address_revise() {
	document.getElementById("address_revising").style.display = "inline-block";
	document.getElementById("address_revisable").style.display = "none";
}

function complete() {
		location.href = "/mypage";
		document.getElementById("select_form").submit();
}

function login() {
		location.href = "/login";
}

function logout() {
		location.href = "/logout/"
}

function mypage() {
		location.href = "/mypage/"
}
function mypage() {
		location.href = "/mypage/"
}

function showmyInfo() {
	document.getElementById("infouser").style.backgroundColor = "lightblue";
	document.getElementById("infocoupon").style.backgroundColor = "buttonface";
	document.getElementById("myInfo").style.display = "inline-block";
	document.getElementById("couponInfo").style.display = "none";
}
function showcouponInfo() {
	document.getElementById("infocoupon").style.backgroundColor = "lightblue";
	document.getElementById("infouser").style.backgroundColor = "buttonface";
	document.getElementById("couponInfo").style.display = "inline-block";
	document.getElementById("myInfo").style.display = "none";
}
</script>

</body>
</html>