<html>
<head>
	<title> CafeList - Price-Recommendation </title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
	<link rel="shortcut icon" href="/static/images/taplogo.png"/>
</head>
<style type="text/css">
 body {
 	font-family:'Malgun Gothic';
	font-size: 14.5px;
 }

</style>
<body>
	<script
 src="/static/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/semantic/dist/semantic.min.js"></script>
	{% if price_result %}
	<p class = "ui orange label"> 주변에서 {{menu_name}}가 싼 카페 </p>
	<br><br>
		{% for cafe in price_result %}
				<p>{{cafe.0}} | {{cafe.1}} </p>
		{% endfor %}
	{% else %}
		여기가 제일 싸요~
	{% endif %}
</body>
</html>