{% load staticfiles %}
<html>
<head>
	<title> Cafe In </title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
	<link rel="shortcut icon" href="/static/images/taplogo.png"/>
	<link rel="stylesheet" type="text/css" href="/static/search.css">
</head>



<body>
<script
  src="/static/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/semantic/dist/semantic.min.js"></script>



<br>
	{% if logined_user.username == "null" %}
		<p style="text-align: right;"><button class = "ui tiny orange button" onclick="login();"> 로그인 </button></p>
	{% else %}
		<div style="text-align: right;" >
			<p class="ui orange basic image label"><img src="/static/images/person.png">{{ logined_user.username }}님</p>
			<button class = "ui tiny orange basic button" onclick="mypage();"> 마이페이지 </button>
			<button class = "ui tiny orange basic button" onclick="logout();"> 로그아웃 </button>
		</div>
	{% endif %}




 <a href="/">
 	<center><img src="/static/images/cafeinlogo.png" height = "17%" width = "30%"></center>
 </a>


<br>

<center>
<div id="searchbox">
	<form method="POST" action="" id="searchsubmit">
	
		{% csrf_token %}
		<div class="ui action input"><input id="search" name="_search" >
		<select id="select" class="ui compact selection dropdown">
		<option value="selectcafe"> 카페명 </option>
		<option value="selectlocation"> 장소명 </option>
	</select>
		<button type="submit" class="ui orange button" id="searchbutton" onclick="searchcafe();"> 검색 </button></div>
	</form>
</div>
</center>

<br>
<div id = 'container'>
	<div id="resultbox">
		<input class = "ui tiny orange basic button" type="button" id="infocafe" class="infobutton" onclick="showcafe();" value="카페정보">
		<input class = "ui tiny orange basic button" type="button" id="infomenu" class="infobutton" onclick="showmenu();" value="메뉴비교">
	</div>
	
	<div class = "ui orange divider">
	</div>

	<div id="cafeInfo">
		{% if cafe.cafe_id != "null" %}
			<br>
			매장 내부
			<br>
			<center><img src='{{cafe.image_url}}' alt="image" id="cafeimage" width = 40% height = "30%"></center>
			<br><br>
			<center>
			<div class="ui list">
  					<div class="item">
    					<img class="ui avatar image" src="/static/images/cafename.png">
    						<div class="content">
      							<font size="2" color="black">{{cafe.cafe_name}}</font>
    						</div>
    						<br><br>
  					</div>
  					<div class="item">
    					<img class="ui avatar image" src="/static/images/cafeplace.png">
    						<div class="content">
    							<font size="2" color="black">
      							{{location.address}}</font>
    						</div>
    						<br><br>
  					</div>
  					<div class="item">
    					<img class="ui avatar image" src="/static/images/cafeclock.png">
    						<div class="content">
    							<font size="2" color="black">
      							OPEN AT {{cafe.opentime}}</font>
   	 						</div>
   	 						<br><br>
 					</div>
  					<div class="item">
   						<img class="ui avatar image" src="/static/images/cafeclock.png">
    						<div class="content">
    							<font size="2" color="black">
      							CLOSE AT {{cafe.closetime}}</font>
    						</div>
 					</div>

			</div>
		</center>

			<br><br>
			<div id="chart_div" style="width: 700px; height: 300px; margin: auto;"></div>
		{% endif %}
	</div>

	<div id = "menulist" style ="display:none">
   {% if menu_list %}
      <center><font face = size="3" color="black"><b>메뉴목록</b></font></center>
         {% for menu in menu_list %}
         <div class="gallery" style="width: 150px; height: 150px;">
            <center><img class="ui medium  image" src ='{{menu.2}}' onclick="price_recom({{menu.3}})" alt="{{menu.3}}" id="cafeimage" style="width: 100px; height: 100px;"></center>
            <font size="2" color="black">{{menu.0}}<br>{{menu.1}}원</font>
         </div>
         {%endfor%}
         <p> 이 시각, 더 한가한 카페 목록 </p>
         {% for time_recom in time_result %}
            <p> {{time_recom.0}} &nbsp;&nbsp;&nbsp; {{time_recom.1}} </p>
         {% endfor %}
         <br><br>
         <p> 나의 음료가 더 싼 카페 목록 </p>
         {% for price_recom in price_result %}
            <p> {{price_recom.0}} &nbsp;&nbsp;&nbsp; {{price_recom.1}} </p>
         {% endfor %}

   {% else %}
      <p>   카페를 선택해 주세요. </p>
   {% endif %}
   </div>

   <form name="image_price_name" id = "image_price" method="POST" action = "{% url 'price_choice' %}">
		{% csrf_token %}
		<input type="hidden" id="image_code" name="image_code_name" value="none">
	</form>

	<iframe id="iframe" src="{% url 'price_choice' %}" name ="iframe"></iframe>
</div>


<script type="text/javascript">

	function searchcafe() {
		if(document.getElementById("select").value == "selectcafe") {
			document.getElementById("searchsubmit").action = "/cafelist_cafe/";
			document.getElementById("searchsubmit").submit();
		}
		else if(document.getElementById("select").value == "selectlocation") {
			document.getElementById("searchsubmit").action = "/cafelist_location/";
			document.getElementById("searchsubmit").submit();
		}
	}

function showcafe() {
	document.getElementById("infocafe").style.backgroundColor = "lightblue";
	document.getElementById("infomenu").style.backgroundColor = "buttonface";
	document.getElementById("cafeInfo").style.display = "inline-block";
	document.getElementById("menulist").style.display = "none";

}

function showmenu() {
	document.getElementById("infomenu").style.backgroundColor = "lightblue";
	document.getElementById("infocafe").style.backgroundColor = "buttonface";
	document.getElementById("cafeInfo").style.display = "none";
	document.getElementById("menulist").style.display = "inline-block";

}

function login() {
		location.href = "/login";
}

function logout() {
		location.href = "/logout/"
}

function mypage() {
		location.href = "/mypage/"
}

function price_recom(key) {
	document.getElementById("image_code").value = key;
	form = document.image_price_name;
	form.target = "iframe";
	form.submit();
	document.getElementById("iframe").style.display = "inline-block";
	document.getElementById("priceMy").style.display = "none";
}
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['시각', '인원수'],
          ['00',  {{log_user_num.0}} ],
          ['',  {{log_user_num.1}} ],
          ['02',  {{log_user_num.2}} ],
          ['',  {{log_user_num.3}} ],
          ['04',  {{log_user_num.4}} ],
          ['',  {{log_user_num.5}} ],
          ['06',  {{log_user_num.6}} ],
          ['',  {{log_user_num.7}} ],
          ['08',  {{log_user_num.8}} ],
          ['',  {{log_user_num.9}} ],
          ['10',  {{log_user_num.10}} ],
          ['',  {{log_user_num.11}} ],
          ['12',  {{log_user_num.12}} ],
          ['',  {{log_user_num.13}} ],
          ['14',  {{log_user_num.14}} ],
          ['',  {{log_user_num.15}} ],
          ['16',  {{log_user_num.16}} ],
          ['',  {{log_user_num.17}} ],
          ['18',  {{log_user_num.18}} ],
          ['',  {{log_user_num.19}} ],
          ['20',  {{log_user_num.20}} ],
          ['',  {{log_user_num.21}} ],
          ['22',  {{log_user_num.22}} ],
          ['',  {{log_user_num.23}} ],
          ['24',  {{log_user_num.24}} ]
        ]);

        var options = {
          title: '시간대별 인원수',
          hAxis: {title: '시각',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

</body>
</html>